{% extends "network/layout.html" %}
{% load static %}

{% block body %}
    <div class="body">
        <form action="{% url 'create_post'%}" method="post">
            {% csrf_token %}
            {{ form.Post_content }}
            <input class="submit-btn" type="submit" value="Submit" style="left: 445px; margin-top: 60px;"/>
        </form>
    </div>
    
    <p id = "example">Hello there</p>
    <button id="btn" type="button">Try it</button>

    {% for Post in Posts %}
        <div class = "likes">
            <span id = "likes_{{Post.id}}">{{Post.likes.all.count}}</span> Likes
            {% if user.is_authenticated %}
                {% if request.user in Post.likes.all %}
                    <a class="like_btn" data-id = "{{Post.id}}" href="#a">Unlike</a>
                {% else %}
                    <a class="like_btn" data-id = "{{Post.id}}" href="#a">Like</a>
                {% endif %}
            {% endif %}
        </div>
        <div class = "posts">
            {{Post|linebreaks}}
            <br>
        </div>
    {% endfor %}

    
    
    <div class="pagination">
        <span class="step-links">
            {% if Posts.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ Posts.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ Posts.number }} of {{ Posts.paginator.num_pages }}.
            </span>

            {% if Posts.has_next %}
                <a href="?page={{ Posts.next_page_number }}">next</a>
                <a href="?page={{ Posts.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>

    <script type="text/javascript" src="{% static 'network/likes.js' %}" ></script>
{% endblock %}