{% extends "network/layout.html" %}
{% load static %}

{% block body %}
    <div class="body">
        <div class="create_post">
            <h4>New Post</h4>
            <form action="{% url 'create_post'%}" method="post">
                {% csrf_token %}
                {{ form.Post_content }}
                <input class="submit-btn" id = "new_post_btn" type="submit" value="Submit" />
            </form>
        </div>
    </div>
    
    <div class="striped-border"></div>
    
    <h4 class="body">All Posts</h4>
    <div class="all_posts_block">
        {% for Post in Posts %}
            <div class="post_block">
                <div class = "posts" id="post_{{Post.id}}" >
                    <p>{{Post.content}}</p>
                    <p><i>Posted by: <a href="{% url 'profile' Post.post_creator %}"><strong>{{ Post.post_creator }}</strong></a> @ {{Post.time_created}}</i></p>
                </div>
                <div class="add_ons">
                    <div class = "likes">
                        <span id = "likes_{{Post.id}}">{{Post.likes.all.count}}</span> Like(s)
                        
                        {% if user.is_authenticated %}
                            {% if request.user in Post.likes.all %}
                                <a class="like_btn" data-id = "{{Post.id}}" href="#">Unlike</a>
                            {% else %}
                                <a class="like_btn" data-id = "{{Post.id}}" href="#">Like</a>
                            {% endif %}
                        {% endif %}
                    </div>
                    <div class="edit" id="edit_{{Post.id}}">
                        {% if request.user == Post.post_creator %}
                            <br>
                            <a class="edit_btn" data-id = "{{Post.id}}" href="#">Edit</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    
    <div class="pagination">
        <span class="step-links">
            {% if Posts.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ Posts.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ Posts.number }} of {{ Posts.paginator.num_pages }}.
            </span>

            {% if Posts.has_next %}
                <a href="?page={{ Posts.next_page_number }}">next</a>
                <a href="?page={{ Posts.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>

    <script type="text/javascript" src="{% static 'network/likes.js' %}" ></script>
    <script type="text/javascript" src="{% static 'network/edit.js' %}" ></script>
{% endblock %}