{% extends "network/layout.html" %}
{% load static %}


{% block body %}
    {{Message}}
    Profile: {{profile_id}}
    <br>
    This is {{username}}'s profile page
    <br>
    {% for follower in followers %}
        {{follower|linebreaks}}
        <br>
    {% endfor %}
    <br>
    {% for Post in Posts %}
        {{Post|linebreaks}}
        <br>
    {% endfor %}
    {% if is_user == 0 %}
        <button type = "button" id = "follow_btn"></button>
    {% endif %}
    <input type="hidden" id="username" value ={{username}} >
    <input type="hidden" id="fol_id" value ={{profile_id}} >
    <script src="{% static 'network/profile.js' %}"></script>
{% endblock %}