.post_block {
    border-style: solid;
    border-color: rgb(129, 129, 129);
    border-width: 1px;
    display: flex;
    margin-right: 1%;
    margin-bottom: 2px;
}

.body {
    margin-left: 1%;
}

.create_post {
    inline-size: 10%;
}

.striped-border { 
    border: 1px dotted rgb(129, 129, 129); 
    width: 99%;  
    margin-top: 3.5%; 
    margin-bottom: 2%; 
}

.all_posts_block { 
    margin-top: 30px;
    margin-left: 1%;
}

.posts { 
    width: 85%;
}

#new_post_btn {
    position: absolute;
    margin-left: 336px;
}